@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App-header {
  text-align: center;
  margin-top: 100px; /* Adjusted to avoid overlapping with the fixed navbar */
}

.App-header h1 {
  color: #726F6F;
  font-size: 8em;
  font-weight: bold;
  margin: 0 20px;
}

.App-header p {
  color: #FF9999;
  font-size: 8em;
  font-weight: bold;
  margin: 10px 20px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .App-header h1,
  .App-header p {
    font-size: 3em;
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .App-header h1,
  .App-header p {
    font-size: 2.5em;
    margin: 10px;
  }
}
